<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3design_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_500x500"
        android:label="3Design"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.3Design_Kotlin"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activites.Products_View">
        </activity>
        <activity android:name=".Activites.App_Start_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activites.Sign_in_activity" />
        <activity android:name=".Activites.Log_In_Activity" />
        <activity android:name=".Activites.Prompt_1" />
        <activity
            android:name=".Activites.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>